@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap');

html {
	direction: ltr;
	box-shadow: none !important;
	font-size: 100%;
	margin: 0 !important;
}
body {
	background-color: #FFF;
	color: #707070;
	font-family: "Roboto","Open Sans", sans-serif;
	font-size: 14px;
	line-height: 22px;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	text-align: left;
	font-weight: 300;
}
.navbar {
	min-height: 50px;
}
.navbar-brand {
    font-size: 35px;
    font-weight: 500;
    line-height: 1;
    margin: 0;
}

.navbar-brand > span {
	color: #25b0c6;
    display: inline-block;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}
.reportheader {
	border-bottom: 0.1cm solid #707070;
	margin: 0.4cm 0.4cm 0.4cm;
}
.reportheader .logo img {
	width: 100%;
	max-width: 9cm;
}
.reportheader .logo .compliancerating {
	font-size: 0.6cm;
	text-align: left;
	font-weight: 600;margin:0;
}
.reportheader .logo .compliancedescription {
	margin: 0;
	font-size: 0.3cm;
	color: #17a2b8;
}
.logo .quote {
	font-size: 11px;
	margin-bottom: 0;
}
.reportheader .title {
	text-align: center;
}
.reportheader .title h1 {
	margin: 0;
	font-weight: 500;
	font-size: 35px;
	color: #333;
	letter-spacing: 0;
}
.reportheader.projectinfo .title h1 {
	font-size: 17px;
	padding-bottom: 5px;
	padding-top: 5px;
}

.reportheader .title h6 {
	margin: 0;
	letter-spacing: 0;
	color: #707070;
	padding-top: 0cm;
	font-size: 14px;
	font-weight: 400; 
	margin-top:5px;
}
.reportheader .health {
	text-align: right;
}
.reportheader .health .reportdate {
	margin: 0;font-size: 0.35cm;font-weight: 400; margin-bottom: 0.2cm; margin-right: 30px;
}
.reportheader.projectinfo .health .reportdate {
	margin-right: 7px;
}
.reportheader .health .healthrating_box {
	border-radius: 50%;width: 0.8cm;height: 0.8cm; margin-top: -11px; margin-right:40px; position:absolute; right:15px;
}
.reportheader .health .healthrating_box {
	
}
.reportheader.projectinfo .health .healthrating_box {
	margin-right: 18px;
}


.reportheader .health .healthratingdesc {
	margin-top: 25px;
	margin-bottom: 0;
	font-size: 0.3cm;
}
.reportbody {
	margin: 0.4cm 0.4cm 0.2cm;
}
.reportbody.section1 {
	/*border-bottom: 0.06cm solid #707070;*/
	padding-bottom: 0.2cm;
}
.reportbody.section1 p.quote {
	border-top: 0.06cm solid #707070;
	width: 100%;
	text-align: center;
	font-size: 11px;
	font-style: italic;
	padding-top: 5px;
}
.reportbody.section1 p.quote.noborder {
	border-top: 0px;
    margin-bottom: 0px;
    padding: 0;
    line-height: 1.375;
}
.reportbody.section2,
.reportbody.section3 {
	margin: 0.8cm 0.4cm 0.4cm;
}
.reportbody .sectiontitle {
	margin: 0.2cm 0cm;font-size: 0.45cm;font-weight: 500;color: #333; text-decoration: underline;
}
.reportbody .sectiontitle:after {
	/*content: ":";*/
}
.reportbody.section2 .sectiontitle,
.reportbody.section3 .sectiontitle {
	margin-bottom: 0.6cm;
}
.reportbody.section1 .summary {
	text-align: left;
	background-color: #f6f6f6;
}
.reportbody.section1 .summary .summarytext {
	margin: 0.2cm 0cm 0.4cm;text-align: justify;font-size: 11px;font-weight: 300;line-height: 1.375;
}
.reportbody.section1 .summarystatistics {
	margin: 10px 0cm 0.2cm; /* 0.4cm 0cm 0.2cm */
}
.reportbody.section1 .summarystatistics .col,
.reportbody.section1 .hrstatistics .col {
	padding: 0;
}
.reportbody.section1 .summarystatistics .metric1,
.reportbody.section1 .hrstatistics .metric1 {
	color: #0077b6;
}
.reportbody.section1 .summarystatistics .metric2,
.reportbody.section1 .hrstatistics .metric4 {
	color: #17a2b8;
}
.reportbody.section1 .summarystatistics .metric3,
.reportbody.section1 .hrstatistics .metric2 {
	color: #688753;
}
.reportbody.section1 .summarystatistics .metric4,
.reportbody.section1 .hrstatistics .metric3 {
	color: #dc3545;
}
.reportbody.section1 .hrstatistics .metric5 {
	color: #d59442;
}
.reportbody.section1 .hrstatistics .metric6 {
	color: #000;
}
.reportbody.section1 .hrstatistics .metricvalue i {
	color: #707070;
}
.reportbody.section1 .summarystatistics .metricvalue,
.reportbody.section1 .hrstatistics .metricvalue {
	text-align: center;
	margin: 0;
	font-size: 16px;
	font-weight: 600;
}
.reportbody.section1 .summarystatistics .metricvalue span,
.reportbody.section1 .hrstatistics .metricvalue span {
	font-size: 10px;
	margin-left: 4px;
}
.reportbody.section1 .hrstatistics .metric4 .metricvalue,
.reportbody.section1 .hrstatistics .metric5 .metricvalue {
	/*font-size: 26px;*/
}
.reportbody.section1 .summarystatistics .metricdesc,
.reportbody.section1 .hrstatistics .metricdesc {
	text-align: center;
	margin: 0;
	margin-top: 0px;
	font-size: 9px;
	font-weight: 500;
	line-height: 1.175;
}
.reportbody.section1 .portfoliostatistics {
	margin: 0;
}
.reportbody.section1 .portfoliostatistics.individualproject {
	margin-top: 25px;
}
.reportbody.section1 .portfoliostatistics .metric1,
.reportbody.section1 .portfoliostatistics .metric2,
.reportbody.section1 .portfoliostatistics .metric3 {
	margin-top: -60px; /*-65px;*/
	padding-left: 0;
	padding-right: 0;
}
.reportbody.section1 .portfoliostatistics .desc {
	font-size: 10px;
	text-align: center;
	margin-top: -8px;
	font-weight: 400;
}
.reportbody.section1 .portfoliostatistics .metric1 {
	color: #0077b6;
}
.reportbody.section1 .portfoliostatistics .metric2 {
	color: #d59442;
}
.reportbody.section1 .portfoliostatistics .metric3 {
	color: #688753;
}
.chartrender .groupingbyage{
	margin-top: 27px;
}
.chartrender .budgetsize {
	margin-top: 10px;
}
.chartrender .hrgender {
	margin-top: 10px;
}

.projectsbysubprogramme,
.budgetutilization {
	margin-top: 25px;
}
.hrstatistics {
	margin: 10px 0 25px;
}
.section2 .table,
.section3 .table {
	font-size: 10px !important;
	/*page-break-after:always;*/
	page-break-inside:auto
}
.section2 .table.activitytable {
	border: 1px solid !important;
}
.section2 .table tr,
.section3 .table tr {
	page-break-inside:avoid; page-break-after:auto
}

.section2 .table th,
.section3 .table th {
	line-height: 1.375;
}
.section2 .table thead th:nth-child(7),
.section2 .table thead th:nth-child(8),
.section2 .table thead th:nth-child(9) {
	max-width: 90px;
}
.section2 .table tbody td:nth-child(6) {
	text-align: right;
}

.section2 .table thead th.left,
.section2 .table tbody td.left {
	text-align: left;
}
.section2 .table thead th.center,
.section2 .table tbody td.center {
	text-align: center;
}
.section2 .table thead th.right,
.section2 .table tbody td.right {
	text-align: right;
}
.section2 .table tbody .projectlistinghealth {
	width: 10px;
	border-radius: 50%;
	text-align: center;
	margin: 0 auto;
	height: 10px;
	margin-top: 6px;
}
.container-fluid.printlandscape {
	max-width: 29.7cm;/*landscape layout */
}
.hidden {
	display: none !important;
}
.dropdown-item {
    font-size: 12px;
    padding: 5px 15px;
}

table thead th,
table tbody tr.summarytotal td {
	background-color:  #0077b6;
	border: 0px !important;
	color: #fff;
	/*font-size: 12px;*/
}
table.table-striped tbody tr:nth-of-type(2n+1) td {
    background-color: rgba(0,0,0,.05);
}

table tbody tr.summary td {
	background-color: rgba(0,0,0,.05) !important;
	color: #000;
	/*font-size: 10px;*/
	font-weight: bold;
}

table.budgetclass {
	font-size: 11px;
	line-height: 1.375;
	/*border-bottom: 2px solid #aaa;*/
	border-style: none none double none;
}
table.budgetclass td {
	padding: 1px 4px !important;
}
table.budgetclass td.red {
	color: #dc3545 !important;
}
table.budgetclass .total td {
	font-weight: bold;
}
table.activitytable .output td {
	font-style: italic;
	border: 1px solid #dee2e6 !important;
	background: #eee;
}
table.activitytable .output td span {
	background: #17a2b8;
	color: #fff;
	padding: 2px 6px;
	margin-left: 5px;
	border-radius: 4px;
}
table.activitytable .activity td {
	font-size: 10px;
	border: 1px solid #dee2e6 !important;
	line-height: 1.375;
}
.progress-bar {
	width: 100%;
	background-color: #e0e0e0;
	padding: 2px;
	border-radius: 3px;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
}

.progress-bar-fill {
	display: block;
	/*height: 22px;*/
	padding: 3px 0;
	background-color: #659cef;
	border-radius: 3px;
	transition: width 500ms ease-in-out;
}
.progress-bar-fill.green {
	background-color: #5cb85c;
}
.progress-bar-fill.red {
	background-color: #d9534f;
}
.progress-bar-fill.gray {
	background-color: #f7f7f7;
	color: #333;
}
table.projectmanager,
table.timeline {
	margin-top: 15px;
	font-size: 11px;
	line-height: 1.375;
	width: 100%;
}
table.timeline {
	margin-top: 0px;
	width: auto;
}
table.projectmanager td {
	vertical-align: initial;
}
table.projectmanager td strong,
table.timeline td strong {
	margin-left: 0px;
}
.projectmanager td:first-child, 
.projectmanager td:nth-child(3) {
    width: 100px;
}
.projectmanager td:nth-child(2) {
    width: 105px;
}
table.budgetclass_footer {
	font-size: 11px;
	line-height: 1.375;
}
table.budgetclass_footer tr td:first-child {
	vertical-align: initial;
	min-width: 70px;
}
table.budgetclass_footer tr td:last-child {
	padding-left: 5px;
	font-weight: bold;
}

@page { 
	size: auto;  
	margin: 0mm; 
}
@media print {
	@page {
		size: landscape;
	}
	body, page {
        margin: 0;
        box-shadow: 0;
        width: 100%;
        background: rgb(255,255,255);
    }
    body {
    	zoom: 70%;
    }
    .container-fluid.printlandscape {
    	max-width: 29.7cm;/*landscape layout */
    }
    .pagebreak {
        clear: both;
        page-break-after: always;
    }       
	.noprint {
		display: none !important;
	}
	.chartrender {
		max-width: 9.3cm;
	}
	.reportbody.section2 table, .reportbody.section3 table {
	    margin: 0.8cm 0cm 0.4cm;
	}
	.reportbody.section1 .portfoliostatistics .metric1,
	.reportbody.section1 .portfoliostatistics .metric2,
	.reportbody.section1 .portfoliostatistics .metric3 {
		max-width: 100px;
	}
	.table {
		border-bottom: 2px solid #333;
		max-width: 29.7cm;
	}
	.table tr:nth-of-type(2n+1) {
		background-color: #f6f6f6;
	}
	.table th {
		background-color: #0077b6 !important;
		color: #fff;
		font-weight: 500;
		text-align: center;
	}
	.table td {
		background-color: transparent !important;
	}

	.section2 table td:nth-child(6), 
	.section2 table td:nth-child(7),
	.section2 table td:nth-child(8),
	.section2 table td:nth-child(10),
	.section2 table td:nth-child(11),
	.section2 table td:nth-child(12) {
	    text-align: center;
	}

	.section2 table td:nth-child(5) {
	    text-align: right;
	}

	.reportbody.section1 .summarystatistics .metricvalue,
	.reportbody.section1 .hrstatistics .metricvalue {
		font-size: 20px !important;
	}
	.reportbody.section1 .summarystatistics .metricdesc,
	.reportbody.section1 .hrstatistics .metricdesc {
		margin-top: -5px;
		font-size: 8px;
	}
	.reportbody.section1 .hrstatistics .metricvalue svg {
		color: #333;
		height: 35px;
		width: 35px;
		font-weight: 700;
	}



	.reportbody.section1 .portfoliostatistics .metric1,
	.reportbody.section1 .portfoliostatistics .metric2,
	.reportbody.section1 .portfoliostatistics .metric3 {
		margin-top: -80px; /*-65px;*/
	}


	.projectsbysubprogramme {
		margin-top: 5px;
	}


	.reportbody.section1 .summarystatistics {
		margin: 12px 0cm 0.2cm;
	}
	.hrstatistics {
	    margin: 5px 0 35px !important;
	}
	.chartrender .groupingbyage, 
	.chartrender .budgetsize {
		margin-top: 10px !important;
	}
	.chartrender .budgetsize {
		margin-top: 20px !important;
	}
	.chartrender .hrgender {
		margin-top: 18px !important;
	}

	.section2 table {
		border: 0px solid #CCC;
    	border-collapse: collapse;
	}
	.section2 table td {
		border: none;
	}
}





/* Responsive */
/*
@media (max-width: 991px) {
	html.safari {
		position: relative;
		overflow-x: hidden;
	}
}

@media (max-width: 479px) {
	body {
		font-size: 13px;
	}
}
h1 {
	text-align: center;
	color: #333;
}
h5 {
	color: #333;
}
h6 {
	text-align: center;
}*/
